<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906804224041-b0u99t14ckvkekvcfhp767fb6e9dncgf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906804224041-b0u99t14ckvkekvcfhp767fb6e9dncgf</string>
	<key>API_KEY</key>
	<string>AIzaSyCxv9UAi8enTN3Sff-ZcYd5cGddkmQumRc</string>
	<key>GCM_SENDER_ID</key>
	<string>906804224041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lopserv.client</string>
	<key>PROJECT_ID</key>
	<string>lopser-1f07f</string>
	<key>STORAGE_BUCKET</key>
	<string>lopser-1f07f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906804224041:ios:52651c489ca1bcc3ae3c38</string>
	<key>DATABASE_URL</key>
	<string>https://lopser-1f07f.firebaseio.com</string>
</dict>
</plist>